body {
    padding-bottom: 20px;
}


.body-content {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    padding: 0 10px;
}

.btn {
    margin: 10px auto !important;
}