@model TicketingSystem.Models.Ticket

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <!--title-->
    </div>
    <div class="form-group">
        <!--body-->
    </div>
    <div class="form-group">
        <!--status-->
    </div>
}